@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  color: #010400;
}

body {
  background-color: #5936CD;
}

.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-content {
  width: 480px;
  height: auto;
  min-height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background-color: #F4F4F9;
}

.auth-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 36px 24px;
}

.logo {
  width: 88px;
  height: auto;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  color: #7C7C7C;
}

p {
  font-size: 14px;
  font-weight: 500;
  color: #7C7C7C;
}

label {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}

input {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 2px solid #06BEE1;
  color: #010400;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 12px;
}

select {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 2px solid #06BEE1;
  color: #010400;
  font-size: 16px;
  padding: 10px;
}

button {
  width: 432px;
  height: 56px;
  border-radius: 12px;
  border: 2px solid #5936CD;
  background-color: #5936CD;
  color: #F4F4F9;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button.small {
  width: 90px;
  height: 36px;
  background-color: #FFF;
  border-radius: 8px;
  color: #010400;
  font-size: 14px;
}

button:hover {
  opacity: .8;
}

button:active {
  opacity: .6;
}

a {
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
}

.full-width {
  width: 100%;
}

.text-cent {
  text-align: center;
}

.text-left {
  text-align: left;
}

.mt.larger {
  margin-top: 32px;
}

.mt.large {
  margin-top: 24px;
}

.mt {
  margin-top: 16px;
}

.mt.small {
  margin-top: 12px;
}

.mt.smaller {
  margin-top: 6px;
}